<!DOCTYPE html>

<head>
  <link href="/template/style.css" type="text/css" rel="stylesheet" />

</head>

<body class="home">

  <div ID="title">
    KNOB
  </div>

  <div ID="navbar">
    <div>
      <a href='/'>
        <input ID="navbutton" type="button" value="Home">
      </a>
    </div>
    <div>
      <a href='/knobs'>
        <input ID="navbutton" type="button" value="Knobs">
      </a>
    </div>
    <div>
      <a href='/groups'>
        <input ID="navbutton" type="button" value="Groups">
      </a>
    </div>
    <div>
      <a href='/profile'>
        <input ID="navbutton" type="button" value="Profile">
      </a>
    </div>
    <div>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <meta name="google-signin-client_id" content="361955621352-dbn2qo7h4slaemg2a8ou678ga89rbq7h.apps.googleusercontent.com">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <div>
      <a href="#" onclick="signOut();">Sign out </a>
      <script>
        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }
      </script>
    </div>
  </div>
  <div ID="message">
    <script>
      function information() {
        var knob = document.getElementById("userKnob").value;
        var name = document.getElementById("userName").value;
        var time = document.getElementById("userTime").value;
        var div = document.createElement("p");
        div.innerHTML = ["Knob: " + knob + ";  Name: " + name + ";  Time: " + time];
        div.style.color='white';
        div.style.columns='3';
        document.body.appendChild(div);
      }
    </script>
    <div ID="input">
      <div>
        <div ID="form">
          <div>Enter Knob</div>
          <div>Enter Name</div>
          <div>Enter Time</div>
        </div>
        <form id="form" onsubmit="return false;">
          <div>
            <input   type="text" id="userKnob">
          </div>
          <div>
            <input   type="text" id="userName">
          </div>
          <div>
            <input   type="text" id="userTime">
          </div>
        </form>
      </div>
      <input   type="submit"    onclick="information()">
    </div>
  </div>

  <div class="knobTable">
    <div>
      Knob
    </div>
    <div>
      Name
    </div>
    <div>
      Time
    </div>
  </div>

</body>
