<!DOCTYPE html>

<head>
  <link href="/template/style.css" type="text/css" rel="stylesheet" />
  <script src="main.js" />
</head>

<body class="home">

  <div ID="title">
    KNOB
  </div>

  <div ID="navbar">
    <div>
      <a href='/'>
        <input ID="navbutton" type="button" value="Home">
      </a>
    </div>
    <div>
      <a href='/knobs'>
        <input ID="navbutton" type="button" value="Knobs">
      </a>
    </div>
    <div>
      <a href='/groups'>
        <input ID="navbutton" type="button" value="Groups">
      </a>
    </div>
    <div>
      <a href='/profile'>
        <input ID="navbutton" type="button" value="Profile">
      </a>
    </div>
    <div>
      <script src="https://apis.google.com/js/platform.js" async defer></script>
      <meta name="google-signin-client_id" content="361955621352-dbn2qo7h4slaemg2a8ou678ga89rbq7h.apps.googleusercontent.com">
      <div class="g-signin2" data-onsuccess="onSignIn"></div>
    </div>
    <div>
      <a href="#" onclick="signOut();">Sign out </a>
      <script>
        function signOut() {
          var auth2 = gapi.auth2.getAuthInstance();
          auth2.signOut().then(function () {
            console.log('User signed out.');
          });
        }
      </script>
    </div>
  </div>

  <div ID="message">
    Message
  </div>

  <div>
    <script src="knob.js"></script>
  </div>

  <form id="create">
    Knob name:<br>
    <input type="text" name="kName" value="Enter knob name">
    <br>
    Person name:<br>
    <input type="text" name="pName" value="Enter your name">
    <br><br>
	<button onclick="makeKnob()">Post knob!</button>
  </form>
</body>
