/* Style.css */
body {
  background-color: #69BED8;

}

#title {
  text-align: center;
  font-family: Impact;
  font-size: 36pt;
  background-color: #69BED8;
  color: grey;
  text-decoration: bold;
}

#navbar {
  background-color: grey;
  text-align: center;
  columns: 6;
  border: 50%;
}

#navbutton {
  text-align: center;
  background-color: grey;
  border-bottom: grey;
  border-color: grey;
  border-right: grey;
  border-radius: 45%;
  font-size: 14pt;
  color: white;
}

#mission {
  color: black;
  font-size: 14pt;
  background-color: white;
}

#message {
  background-color: white;
  font-family: "Comic Sans MS";
  color: grey;
  border: 25%;
  text-align: center;
}

#input {
}

#form {
  columns: 3;
  text-align: center;
}
